// .i4ewOd-pzNkMb-haAclf {
//     background-color: #23B885 !important;
// }
//         .i4ewOd-pzNkMb-tJHJj {
//             display: none;
//         }

//         .yePe5c-haAclf yePe5c-HzV7m yePe5c-purZT {
//             display: none;
//         }
.contact {
    width: 100%;
    text-align: left;
    // padding: 5em 8em 3em 8em;


    .dates-contact {

        display: flex;

        .information {
            width: 50%;
            color: #000;

            .map {
                display: none;
                height: 320px;
                width: 50%;
                background-color: gray;
            }


            .directions {


                .facts {
                    width: 50%;
                    margin-top: 30px;

                    .fact {


                        img {
                            height: 100%;
                            margin: 1em;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .fact_email {

                margin-top: 30px;

                img {
                    margin: 1rem;
                }


            }

        }

        .title_contact {
            width: 80%;

            .description {
                display: none;
            }
        }

        .item1 {
            grid-area: name;
        }

        .item2 {
            grid-area: email;
        }

        .item3 {
            grid-area: tlf;
        }

        .item4 {
            grid-area: mens;
        }

        .item5 {
            grid-area: env;
        }
        .item6 {
            grid-area: check;
        }

        .form {
            width: 50%;
            grid-template-columns: 50% 50%;
            display: grid;
            grid-template-rows: auto;
            grid-column-gap: 27px;
            grid-row-gap: 27px;
            grid-template-areas:
                "name email"
                "tlf ."
                "mens mens"
                "env env"
                "check .";

            .form_1,
            .form_2 {
                width: 100%;
            }

            label {
                font-size: 1em;
            }

            input,
            textarea {
                border: 0.5 #E3E3E3 solid;
                border-radius: 0;
                background-color: white;
            }

            input {
                height: 50px;

            }

            input[type="text"]:focus,
            input[type="password"]:focus,
            input[type="email"]:focus,
            select:focus,
            textarea:focus {
                border-color: #23B683;
                box-shadow: 0 0 0 1px #23B683;
            }

            textarea {
                height: 100px;
            }



        }

        .button {
            margin: auto;
            width: 100%;
            padding: 0px;

        }

        button {
            margin: auto;
            height: 59px;
            width: 100%;
            font-size: 1.1em;
            color: white;
            border: none;
            background: #8A153A;

            &:hover {
                background: #700e2d;
            }
        }


    }




    @include breakpoint('<=small') {
        // padding:
        //     2.5em 1.5em 0.5em 1.5em;

        .information .facts .fact {
            width: 66%;
        }

        .form {
            padding: 0;
        }
    }

    @include breakpoint('<=xsmall') {
        // padding:
        //     2.5em 1.5em 0.5em 1.5em;


        .dates-contact {
            .information {
                text-align: center;

                .directions .facts {
                    width: 100%;

                    .fact {
                        flex-direction: column;
                        width: 100%;

                        img,
                        p {
                            margin-bottom: 1em;
                        }
                    }
                }
            }


            .form {
                padding: 1em 0em 0em 0em;

                width: 100%;
                grid-template-columns: 100%;
                display: grid;
                grid-template-rows: auto;
                grid-template-areas:
                    "name"
                    "email"
                    "tlf"
                    "mens"
                    "env";


                .form_1,
                .form_2 {
                    padding: 0;
                    width: 100%;
                }

                .button {
                    margin-top: 3em;
                }
            }
        }
    }
}

@include breakpoint('<=medium') {
    .contact .dates-contact {
        display: inline;

        .information,
        .title_contact,
        .facts {
            width: 100%;
        }

        .form {
            width: 100%;
        }
    }

}
