.services {
    padding-bottom: 2em;
    margin-top: -37em;

    .service {
        .service_description {
            margin-left: 2em;

            .breadcrumb {
                font-size: 0.8em;
                color: #D1153A;

                margin-bottom: 1em;
            }

            .title_service {
                font-size: 2em;
                margin-bottom: 0.5em;
            }

            .description {
                font-size: 1em;
                width: 100%;
            }

            button {
                height: 4.3em;
                color: #D1153A;
                border: #D1153A 1px solid;

                &:after {
                    margin-left: 1.2em;
                    content: ' \2192';
                }

                &:hover {
                    color: #ffffff;
                    background-color: #D1153A;
                    -webkit-transition: all .8s ease;
                    -moz-transition: all .8s ease;
                    -ms-transition: all .8s ease;
                    -o-transition: all .8s ease;
                    transition: all .8s ease;
                }
            }
        }
    }

    .cybersecurity,
    .sam,
    .apm {
        display: flex;
        margin: auto;
        padding: 1em 10em 3.2em 10em;
        align-items: center;
    }

    //CYBERSECURITY

    .cybersecurity {

        .img_service {
            width: 27.6em;
        }

        .icons {
            display: none;
        }
    }
    .img_service_fondo{
        width: 26.6em;
    }

    //SAM

    .sam {
        flex-direction: row-reverse;
        .img_service{
            position: absolute;
            width: 38.6em;
            margin-left: -83px;
        }
 
        .service {

            .icons {
                display: flex;

                .icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 2.5em;

                    .img_icon {
                        height: 64px;
                        margin-right: 0.5em;
                        width: 64px;

                    }

                    .description_icon {
                        text-align: center;
                    }

                    .icon4 {
                        display: none;
                    }
                }
            }
        }
    }

    //APM
    .apm {
        .icons {
            display: grid;
            grid-template-columns: 50% 50%;

            .icon {
                display: flex;

                .img_icon {
                    height: 64px;
                    margin-right: 0.5em;
                }
            }
        }
    }

    @include breakpoint('<=large') {
        margin-top: -41em;
        .apm, .sam, .cybersecurity{
            padding: 1em 3em 1.2em 3em;
        }

        .sam{
            .img_service{
                width: 33.6em;
            }
        }
    }

    @include breakpoint('<=medium') {
        margin-top: -16em;

        .description {
            font-size: 18px;
        }
        .apm, .sam, .cybersecurity{
            padding: 1em 3em 1.2em 3em;

        }
        .service {
            .service_description .title_service {
                font-size: 1.7em;
            }
        }
        .apm, .sam, .cybersecurity{
            .img_service{
                width: 15em;
                margin-left: 0;
                margin-top: -200px
            }
            .img_service_fondo{
                width: 15em;
                margin-top: -200px
            }
        }

    }

    @include breakpoint('<=small') {
        margin-top: -12em;

        .title-section {
            width: 55%;
        }
        .apm, .sam, .cybersecurity{
            padding: 1em 3em 3.2em 3em;
            flex-direction: column;
        }
        .img_service, .img_service_fondo {
            display: none;
        }
    }

    @include breakpoint('<=xsmall') {
        margin-top: -15em;

        .title-section {
            width: 70%;
        }
        .apm, .sam, .cybersecurity{
            padding: 1em 2em 3.5em 2em;
            flex-direction: column;
        }
        .service {
            .service_description {
                margin-left: 0em;
            }
        }
        .sam {
            flex-direction: row;
            .service {
                .icons {
                    flex-direction: column;
                }
            }
        }

        .apm .icons {
            grid-template-columns: 50% 50%;

            .icon {
                padding: 0.3em;
            }
        }
    }

    @include breakpoint('<=xxsmall') {
        margin-top: -10em;

        .icon {
            flex-direction: column;

            .img_icon {
                width: 60%;
            }
        }

        .sam {
            flex-direction: row;

            .service {

                .icons {
                    flex-direction: column;
                }
            }
        }

    }

}
